<!DOCTYPE HTML>
<html>
<head>
	    <meta name="description" content="Muskego Hitmen Football - Muskego's Only Minor League Football Team" />
	    <meta name="keywords" content="wisconsin football, wisconsin sports, AAA football, muskego, hitmen, ironman football league, semi-pro, statistics, football videos, muskego football, sports news" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">
		<meta charset="ISO-8859-1" />
		<title>{% block title %} {% endblock %}</title>
		<script src="{{ MEDIA_URL }}js/mootools-1.2.5.js"></script>
		{% block stylesheets %}{% endblock %}
		{% block javascripts %}{% endblock %}
		{% block extrahead %}{% endblock %}
<link href="{{ MEDIA_URL }}css/reset.css" rel="stylesheet" type="text/css">
<link href="{{ MEDIA_URL }}css/hitmen_mobile.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="header" class="pos-rel">
  <div class="header-top" style="border-bottom:1px solid #555;">
    <div id="message"></div>
    <div class="siteLogo" style="top:20%"> <a href="/"><img src="{{ MEDIA_URL }}images/siteLogo.png"  alt="logo" width="250" /></a>
      <h1 style="font-size:xx-small;">Muskego Hitmen Football</h1>
    </div>
     <img src="{{ MEDIA_URL }}images/mobile-flag.png" id='mobileFlag' />
  </div>
</div>

<div id="wraps">
	<div id="mobile-wrap">
		
		
    
    	<div id="slab">
    		{% block content %}
        	<ul>
            	<li>
                </li>
                
                <li>
                </li>
            </ul>
		{% endblock %}            
		</div>
    </div>
</div>

<div class="footer-block" style="">
  <div id="footer" class="bg-nearblack">
    <div class="compact-text">
      <ul class="pl-10">
        <li><a href="/" class="">main site</a></li>
        <li><a href="http://www.ironmanfootballleague.com" class="">league site</a></li>
      </ul>
    </div>
  </div>
  <div id="last-line" class=" alight-c clearme">
    <div class="fl mr-10 clearme" id="footer_logo"><img src="{{ MEDIA_URL }}images/logo_footer.png" alt="Hitlist Logo"></div>
  </div>
</div>
</body>
</html>