{% extends 'bradshaw/base.html' %}

{% block content %}
<form action="" method="post" />
	<ul>
		<li>
			
			<img src="{{ MEDIA_URL }}images/team_code.png" />
			{{ form.team_code.errors }}
			{{ form.team_code }}
		</li>
	<input type="submit" class="dark_button"/>
	</ul>
</form>
{% endblock %}
