{% extends 'bradshaw/base.html' %}

{% block content %}
<form action="" method="post" />
	<ul>
		{{ form.as_ul }}
	</li><input type="submit" class="dark_button" value="Subscribe"/></li>
	</ul>
</form>
{% endblock %}
