{% extends 'bradshaw/base.html' %}
{% block javascripts %}
	<script src="{{ MEDIA_URL }}js/alerts/roar-min.js"></script>
{% endblock %}
{% block content %}
        <div class="align-c">
        	<img src="images/mobile_updates.png" />
        </div>
        	<ul id="home-status">
        		{% for update in updates %}
            	<li>
                    <span>{{ update.get_quarter }}</span>
                    <img src="{{ MEDIA_URL }}{{ update.game.home_team.helmet_graphic_mobile }}" />
                    <span>{{ update.home_score }}</span>
                </li>
				{% endfor %}                               
            </ul>
            <ul id="away-status" class="clearme">
            	{% for update in updates %}
                <li>
                    <span>&nbsp;&nbsp;</span>
                    <img src="{{ MEDIA_URL }}{{ update.game.away_team.helmet_graphic_mobile }}" />
                    <span>{{ update.away_score }}</span>
                </li>
				{% endfor %}
            </ul>
			<br class="clearfloat" />
			<form id="update_form" action="{% url bradshaw_updates %}" method="post">
            	<ul>
            	<li class='inline'>
            		<label for="home_score">{{ game.home_team }}:</label>
            		{{ form.home_score }}
            	</li>
                <li class="inline">
                	<label for="away_score">{{ game.away_team }}:</label>
					{{ form.away_score }}
				</li>
				<li>{{ form.quarter }}</li>
                <li>
                	{{ form.message }}
					{% for field in form.hidden_fields %}
						{{ field }}
					{% endfor %}
                </li>
                <li>
                	<span class="dark_button_wrap">
                	<input type="submit"  value="send" class="dark_button"/>
                    </span>
               	</ul>
            </form>

<script>
	$(window).addEvent('domready', function(evt){
		$('update_form').addEvent('submit', function(evt){
			evt.stop();
			var form;
			form = document.id('update_form');
			new Request.JSON({
				url:form.get('action'),
				method:'post',
				data:form.toQueryString(),
				
				onSuccess:function(update,text){
					var away_item, home_item;
					home_item = new Element('li')
					new Element('span',{
						html:update.quarter +'&nbsp;'
					}).inject(home_item);
					
					new Element('img',{
						src:update.home_logo
					}).inject(home_item);
					new Element('span',{
						html:'&nbsp;'+update.home_score
					}).inject(home_item)
					
					away_item = new Element('li')
					new Element('span',{
						html:'&nbsp;&nbsp;&nbsp;'
					}).inject(away_item);
					new Element('img',{
						src:update.away_logo
					}).inject(away_item);
					new Element('span',{
						html:'&nbsp;'+update.away_score
					}).inject(away_item)
					
					home_item.inject('home-status');
					away_item.inject('away-status');
					
				},
				onComplete:function(){
					$('update_form').slide('out')
				},
				onFailure:function(){
					var roar = new Roar();
					roar.aleart('Error!','Nice work, you broke the internet');
				}
			}).send();
		});
	});
</script>
{% endblock %}
